@model UserModel
<aside class="aside">
			<header class="header_hero">
				@*<button type="button" class="menuHideBtn"><i class="fa-solid fa-bars" id="menuHideBtn"></i></button>*@
<nav class="header_nav">
	<div class="logo-title">
		<div class="title">
			<span class="material-symbols-outlined">
				account_tree
			</span>
			@*<h1>U.code</h1>*@
		</div>
		<span class="horizontal-line"></span>
		<ul class="header_nav-links">

			<li class="home link"><a id="home" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i></a><span class="homeTooltip">Página Inicial</span></li>
			<li class="customers link"><a id="customers" asp-action="Index" asp-controller="Customers"><i class="fa-solid fa-people-group"></i></a><span class="customersTooltip">Clientes</span></li>
			@if (Model.Perfil == CRM.Enums.Perfil.padrao)
			{
				<li class="customersAdd link"><a id="customersAdd" asp-action="Create" asp-controller="Customers"><i class="fa-solid fa-user-plus"></i></a><span class="customersAddTooltip">Add Cliente</span></li>
				<li class="analytics link"><a id="analytics" asp-action="Index" asp-controller="Analytics"><i class="fa-solid fa-chart-line"></i></a><span class="analyticsTooltip">Analíticos</span></li>
			}
			<li class="sales link"><a id="sales" asp-action="SalesSeller" asp-controller="Sellers"><i class="fa-solid fa-handshake"></i></a><span class="salesTooltip">Vendas</span></li>
		</ul>
	</div>
	<ul class="logout-btn">
		<li>
			<a id="logout-btn" class="logout_cta" asp-controller="Login" asp-action="Logout">
				<span class="material-symbols-outlined">
					logout
				</span>

			</a>
			<span class="logoutTooltip">Sair</span>
		</li>

	</ul>
</nav>
</header>

</aside>