@model CRM.Models.ViewModels.CustomerCreateViewModel


<div class="main">
	@await Component.InvokeAsync("Header")
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	<div class="alertZipCode">
		<b>Cep informado não corresponde, verifique o cep digitado.</b>
	</div>
	<div>
        <h1>Cadastro de Cliente</h1>

        <form id="formCustomerCreate" class="formCreateCustomer" method="post" asp-action="Create" asp-controller="Customers">
            <label for="codigo" class="span2">
                <p>Código</p>
                <input id="codigo" value="" type="text" maxlength="5" data-val="true"
                    data-val-required="The Codigo field is required." name="Codigo">
            </label>
            <label for="cnpj" class="span4">
                <p class="bgWhite">
                    Cnpj
                </p>
                <input id="cnpj" value="" type="text" data-val="true" data-val-required="The Cnpj field is required."
                    name="Cnpj">
            </label>
            <label for="razaoSocial" class="">
                <p>
                    Razão Social
                </p>
                <input id="razaoSocial" value="" type="text" data-val="true"
                    data-val-required="The RazaoSocial field is required." name="RazaoSocial">
            </label>
            <label for="contato" class="span2">
                <p class="bgWhite">
                    Contato / Comprador
                </p>
                <input id="contato" value="" type="text" data-val="true"
                    data-val-required="The Contato field is required." name="Contato">
            </label>
            <label class="zipCode ">
                <p>
                    Pesquisar CEP
                </p>
                <input id="zipCodeInput" type="text" placeholder="CEP:" required maxlength="8">
                <button id="zipCodeBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </label>

            <label for="cidade" class=" inputCountry ">
                <p class="bgWhite">
                    Cidade
                </p>

                <input id="city" value="" type="text" data-val="true" data-val-required="The Cidade field is required."
                    name="Cidade">

            </label>
            <label for="uf" class="select span2">
                <p>
                    UF
                </p>
                <select id="uf">
                    <option value=""></option>
                    <option value="RO">RO</option>
                    <option value="AC">AC</option>
                    <option value="AM">AM</option>
                    <option value="RR">RR</option>
                    <option value="PA">PA</option>
                    <option value="AP">AP</option>
                    <option value="TO">TO</option>
                    <option value="MA">MA</option>
                    <option value="PI">PI</option>
                    <option value="CE">CE</option>
                    <option value="RN">RN</option>
                    <option value="PB">PB</option>
                    <option value="PE">PE</option>
                    <option value="AL">AL</option>
                    <option value="SE">SE</option>
                    <option value="BA">BA</option>
                    <option value="MG">MG</option>
                    <option value="ES">ES</option>
                    <option value="RJ">RJ</option>
                    <option value="SP">SP</option>
                    <option value="PR">PR</option>
                    <option value="SC">SC</option>
                    <option value="RS">RS</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="GO">GO</option>
                    <option value="DF">DF</option>

                </select>


            </label>
            <div id="email" class="inputEmail">
                <label for="email" class="">
                    <p>
                        <a id="InsertEmailField" class="InsertField">
                            Email
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                    <input id="email" value="" type="email" name="Emails" data-val="true"
                        data-val-required="The Emails field is required.">
                </label>
            </div>
            <div id="phone" class=" inputPhone">
                <label for="phone" class="">
                    <p>
                        <a id="InsertPhoneField" class="InsertField">
                            Telefone
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                    <input id="phone" type="text" name="Phones" value="" data-val="true"
                        data-val-required="The Phones field is required.">
                </label>

            </div>
            <div class="formCreateCustomer_buttons">
                <button class="backBtn" formaction="/Customers/Index">Voltar</button>
                <button class="cleanBtn" type="reset">Limpar campos</button>
                <button class="saveBtn" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/InsertNewField.js"></script>
<script src="/js/Alerts.js"></script>
<script src="/js/GetZipCode.js"></script>
<script>
   
</script>
