@model SendFileImageModel


<div class="main">
	@await Component.InvokeAsync("Header")
	<div class="envio-arquivos">
		<div class="arquivos_title">
			<span>Faça o upload do seu <b class="excel">avatar ".jpg"</b> aqui!</span>
		</div>
		<form class="sendImgForm" asp-action="sendFileImage" asp-controller="SendFile" method="post">
			@*enctype="multipart/form-data"*@
			<input id="btn-send-text" name="url" hidden />
			<label for="btn-send-file" class="btn btn-primary input-file col-md-2 text-center">Procurar Arquivo</label>
			<input id="btn-send-file" @*onchange="convertImage()"*@ class="btn btn-success input-file col-md-2 text-center" name="uploadFile" type="file" multiple hidden />
			@*<div id="apresentar"></div>*@
			<button id="sendImgFile" class="col-md-2 cut-file-btn" type="button" disabled>Cortar</button>
			<button id="sendImg"  class="col-md-2 input-file-btn" type="submit" disabled>Enviar</button>
		</form>
		
	</div>
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	<div id="preview"></div>
	

</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>


<script src="/js/Alerts.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="/js/ConvertImageBase64.js"></script>*@
<script>


	
</script>
